@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container-fluid">
    <div class="row mr-1">
        <div class="col-6">
            <h4>AKTUÁLIS EGYENLEGED:</h4>
            <h4>@Model.Balance <img src="images/visualElements/Coin.png" class="img-fluid" style="max-height: 80px;" /></h4>
            

        </div>
        <div class="col-6 p-0">
            <img src="images/visualElements/Szabalyzatert.png" class="img-fluid" />
        </div>
    </div>
    <div class="row m-1">
        <a asp-page="./Products"
           asp-route-productCatType="1">
            <img src="images/accordions/BemelegitesCsomag.png" class="img-fluid" />
        </a>
    </div>
    <div class="row m-1">
        <a>
            <img src="images/accordions/SportosCsomag.png" class="img-fluid" />
        </a>
    </div>
    <div class="row m-1">
        <a>
            <img src="images/accordions/SpartaiCsomag.png" class="img-fluid" />
        </a>
    </div>
    <div class="row m-1">
        <a asp-page="./ShoppingCart">
            <img src="images/accordions/Kosar.png" class="img-fluid" />
        </a>
    </div>
    <div class="row m-1">
        <a>
            <img src="images/accordions/KezbesitesiAdatok.png" class="img-fluid" />
        </a>
    </div>
</div>

